@model Quiz.Models.Question

@if (Model != null)
{
    @Model.QuestionText
    foreach (var answer in @Model.Answers)
    {
        <button id="@("answerButton"+@answer.Id)" class="btn btn-default answerButton">@answer.Text</button>
    }
}

<script src="~/js/question.js"></script>